* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.business {
  background-color: blue;
  margin: -4rem -1rem 2rem -1rem;
  color: white;
  padding: 2rem 1rem 4rem 1rem;
}
.business h1 {
  font-size: 2.3rem;
  font-weight: 600;
  color: white;
}
.business p {
  font-size: 1.1rem;
  font-weight: 600;
  padding-bottom: 1.2rem;
  color: white;
}
.business a {
  color: white;
  font-weight: 600;
  letter-spacing: 2px;
}
.business .info {
  margin: 2rem 0;
}
.business .info h2 {
  padding-bottom: 1rem;
}
@media screen and (min-width: 778px) {
  .infoEl {
    display: grid;
    grid-template-columns: repeat(2, 35%);
    column-gap: 4rem;
  }
  .business {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .business-text {
    width: 40%;
  }
  .business h1 {
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 1rem;
  }
}
