.first-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-transform: capitalize;
  flex-wrap: wrap;
  word-wrap: break-word;
  color: rgb(1, 1, 72);
}
.footer h3 {
  padding-bottom: 2rem;
  font-size: 1.5rem;
  color: rgba(2, 2, 96);
}
.footer p a {
  color: rgba(2, 2, 96, 0.6);
  line-height: 2;
  font-weight: 600;
}
.footer .second-footer {
  margin: 2rem 0;
  flex-direction: row;
}
.footer .first-footer .first-box,
.footer .first-footer .second-box {
  width: 50%;
}
.footer .license {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1rem;
}
.footer .license img {
  width: 15%;
}
.footer .license h3 {
  padding-bottom: 0;
  font-size: 1rem;
  font-weight: 800;
  color: rgb(1, 1, 72);
}
.footer .license p {
  font-size: 1rem;
  color: rgb(1, 1, 72);
}
.footer .address {
  margin: 2rem 0;
}
.footer .address p {
  font-weight: 600;
  color: rgb(1, 1, 72);
}
.footer .address .nigeria {
  padding-bottom: 1rem;
}
.footer footer p {
  padding-bottom: 1rem;
  font-size: 1rem;
  color: rgba(2, 2, 96, 0.6);
}
.footer footer a {
  font-size: 1.2rem;
  color: blue;
}
@media screen and (min-width: 778px) {
  .footerEl {
    display: flex;
    justify-content: space-between;
  }
  .first-footer {
    width: 50%;
    /* align-items: flex-start; */
  }
  .footer .second-footer {
    margin: 0;
  }
  .footer p a {
    font-weight: 500;
    font-size: 0.9rem;
  }
  .footer h3 {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .footer .address-container {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .footer .license {
    justify-content: right;
    /* border: 1px solid rgb(170, 169, 169);
    width: 17%; */
    /* box-shadow: 2px 2px 10px rgb(208, 207, 207);
    height: 100%; */
  }
  .footer .address p {
    font-weight: 600;
  }
  .footer .address p {
    font-weight: 400;
    font-size: 1rem;
  }
  .footer footer p {
    padding-bottom: 1rem;
    font-size: 0.8rem;
  }
  .footer .license img {
    width: 7%;
  }
  .footer .license p {
    font-size: 0.8rem;
  }
}
